[Desktop Entry]
Type=Application
Terminal=false
Name=UAV Groundstation
Comment=UAV Groundstation
Icon=groundstation
Exec=groundstation.py
Categories=GNOME;GTK;Electronics;

