[Desktop Entry]
Type=Application
Terminal=false
Name=UAV Groundstation
Comment=Wasp UAV Groundstation
Icon=groundstation
Exec=groundstation.py
Categories=GNOME;GTK;Other;

