<?xml version="1.0"?>
<settings>
  <section name="TESTSECTION">
    <setting name="TEST1" type="uint8" value="123"/>
    <setting name="TEST2" type="uint8"/>
  </section>
  <section name="AUTOPILOT">
    <setting name="MODE_MANUAL" value="BOOZ2_AP_MODE_RATE_DIRECT" doc="Autopilot mode in manual flight"/>
    <setting name="MODE_AUTO1" value="BOOZ2_AP_MODE_HOVER_DIRECT" doc="Autopilot mode 1"/>
    <setting name="MODE_AUTO2" value="BOOZ2_AP_MODE_ATTITUDE_DIRECT" doc="Autopilot mode 2"/>
  </section>
  <section name="BATTERY">
    <setting name="SENS" value="0.48" integer="8"/>
  </section>
  <section name="TESTSECTION2">
    <setting name="TEST1" type="uint8" value="123"/>
    <setting name="TEST2" type="uint8"/>
    <setting name="IMU_MAG_X_SENS" value="22.008352" integer="16"/>
    <setting name="IMU_MAG_Y_SENS" value="-21.79885" integer="16"/>
    <setting name="IMU_MAG_Z_SENS" value="-14.675745" integer="16"/>
  </section>
  <section name="TESTSECTION3">
    <setting name="TESTSETGET" type="uint8" value="104" set="1" get="1"/>
    <setting name="TESTSETGETONLY" type="uint8" value="14" get="1"/>
    <setting name="TESTSETONOFF" type="uint8" value="0" min="0" max="1" set="1"/>
    <setting name="TESTSETGETFLOAT" type="float" value="3.5" set="1" get="1"/>
  </section>
</settings>

