<?xml version="1.0"?>
<settings>
  <section name="AUTOPILOT">
    <setting name="MODE_MANUAL" value="BOOZ2_AP_MODE_RATE_DIRECT" doc="Autopilot mode in manual flight"/>
    <setting name="MODE_AUTO1" value="BOOZ2_AP_MODE_RATE_DIRECT" doc="Autopilot mode 1"/>
    <setting name="MODE_AUTO2" value="BOOZ2_AP_MODE_RATE_DIRECT" doc="Autopilot mode 2"/>
  </section>
  <section name="ANALOG">
    <setting name="BATTERY_SENS" value="0.018387097" integer="16"/>
    <setting name="ADC_SPARE_SENS" value="0.0" integer="16"/>
  </section>
  <section name="INS">
    <setting name="BARO_SENS" value="15.0" integer="8"/>
  </section>
  <section name="IMU_ALIGNMENT">
    <setting name="BODY_TO_IMU_PHI" type="float" value="0.75" min="-5.0" max="5.0" step="0.05" set="1" get="1"/>
    <setting name="BODY_TO_IMU_THETA" type="float" value="1.50" min="-5.0" max="5.0" step="0.05" set="1" get="1"/>
    <setting name="BODY_TO_IMU_PSI" type="float" value="0.0" min="-5.0" max="5.0" step="0.05" set="1" get="1"/>
  </section>
  <section name="IMU_SENS">
    <setting name="GYRO_P" value="1.01" integer="16"/>
    <setting name="GYRO_Q" value="-1.01" integer="16"/>
    <setting name="GYRO_R" value="-1.01" integer="16"/>
    <setting name="ACCEL_X" value="-2.44665442" integer="16"/>
    <setting name="ACCEL_Y" value="-2.44994081" integer="16"/>
    <setting name="ACCEL_Z" value="-2.50555481" integer="16"/>
    <setting name="MAG_X" value="22.008352" integer="16"/>
    <setting name="MAG_Y" value="-21.79885" integer="16"/>
    <setting name="MAG_Z" value="-14.675745" integer="16"/>
  </section>
  <section name="IMU_NEUTRAL">
    <setting name="GYRO_P" value="33026"/>
    <setting name="GYRO_Q" value="32348"/>
    <setting name="GYRO_R" value="32524"/>
    <setting name="ACCEL_X" value="32311"/>
    <setting name="ACCEL_Y" value="32536"/>
    <setting name="ACCEL_Z" value="32779"/>
    <setting name="MAG_X" value="-12"/>
    <setting name="MAG_Y" value="-10"/>
    <setting name="MAG_Z" value="-11"/>
  </section>
  <section name="MOTOR">
    <setting name="NB" value="4"/>
    <setting name="FRONT" value="0"/>
    <setting name="BACK" value="1"/>
    <setting name="RIGHT" value="2"/>
    <setting name="LEFT" value="3"/>
    <setting name="ADDR" value="{0x52, 0x54, 0x56, 0x58}" doc="The I2C adresses of the motors"/>
  </section>
  <section name="SERVO">
    <setting name="NB" value="4"/>
    <setting name="THROTTLE" value="0"/>
    <setting name="ELEVATOR" value="1"/>
    <setting name="AILERON" value="2"/>
    <setting name="RUDDER" value="3"/>
    <setting name="ADDR" value="{4, 5, 6, 7}" doc="The channel of the servos, numbered from 0 (the pcb is numbered from 1)"/>
  </section>
  <section name="COMMAND">
    <setting name="NB" value="4"/>
    <setting name="PITCH" value="0"/>
    <setting name="ROLL" value="1"/>
    <setting name="YAW" value="2"/>
    <setting name="THRUST" value="3"/>
    <setting name="FAILSAFE" value="{0,0,0,0}"/>
  </section>
  <section name="SUPERVISION">
    <setting name="MIN_MOTOR" value="2"/>
    <setting name="MAX_MOTOR" value="210"/>
    <setting name="TRIM_A" value="0" type="int32" min="-100" max="100" step="1" set="1" get="1"/>
    <setting name="TRIM_E" value="0" type="int32" min="-100" max="100" step="1" set="1" get="1"/>
    <setting name="TRIM_R" value="0" type="int32" min="-100" max="100" step="1" set="1" get="1"/>
    <setting name="TRIM_T" value="0" type="int32" min="-100" max="100" step="1" set="1" get="1"/>
    <setting name="NB_MOTOR" value="4"/>
    <setting name="SCALE" value="256"/>
    <setting name="ROLL_COEF"  value="{    0,    0, -256,  256}"/>
    <setting name="PITCH_COEF" value="{  256, -256,    0,    0}"/>
    <setting name="YAW_COEF"   value="{ -256, -256,  256,  256}"/>
    <setting name="THRUST_COEF" value="{ 256,  256,  256,  256}"/>
  </section>
</settings>

